$plan_active_btn: #0041ff;
$yellow_box: #FCCB00;
$btn_blue: #0041ff;
$color_white: #ffffff;
$red_box: #FB0046;
$red_box__hover: rgba(251,0,70,.05);
$orange_box: #FF9E15;
$orange_box__hover: rgba(255,158,21,.05);
$blue_box: #0041FF;
$blue_box__hover: rgba(0,65,255,.05);
$green_box: #0DEA9C;
$green_box__hover: rgba(13,234,156,.05);

