.pricing_modal {
    display: none;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 0;
    left: 0;
}

.pricing_modal_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.pricing_modal--content {
    background-color: $color_white;

    border-radius: 2px;
    width: 50%;

    padding: pixel-to-rem(12px);

}

.pricing_modal--content-body{
    display: flex;

    .pricing_credit_card{
        display: flex;
        flex-direction: column;

        .pricing_credit_card--head{
            margin-bottom: pixel-to-rem(21px);
        }
    }
}

.pricing_credit_card--fields--field{
    font-size: pixel-to-rem(13px);
    height: pixel-to-rem(19px);

    display: flex;
    align-items: center;
    background-color: #f8f8f8;

    padding: 10px 0 10px 10px;

    label{
        padding: 1px 5px 0 0;
    }

    margin-bottom: pixel-to-rem(12px);
}

.pricing_personal_details{
    padding-left: pixel-to-rem(12px);

    .pricing_credit_card--fields--customer-name{
        display: none;
    }

    &.pricing_personal{
        .pricing_credit_card--fields--company-name{
            display: none;
        };

        .pricing_credit_card--fields--customer-name{
            display: block;
        }
    }

}
