@import "default";
@import "colors";
@import "button";
@import "tabs";
@import "badge";

.pricing_wrapper {
    padding: 1rem 3rem;
    .price_yearly, .pricing_plan_box--billed {
        display: none;
    }

    .pricing_plan_boxes {
        padding: 1rem 4rem;
    }
}

.active_plan {
    background: $plan_active_btn;
}

/* START
YEARLY PLAN Context
*/

.pricing_yearly_plan {

    .price_monthly {
        display: none;
    }

    .price_yearly {
        display: inline;
    }

    .pricing_plan_box--billed {
        display: block;
    }
}

/* END
YEARLY PLAN Context
*/


.pricing_plan_boxes {
    display: flex;
    justify-content: space-between;

    margin-top: pixel-to-rem(21px);
}


.pricing_plan_box {
    color: $color_grey;
    padding: 1.5rem;
    border: 1px solid $color_light_grey;
    border-radius: 0.1rem;

    flex: 1 0 15%;
    margin-right: 2%;

    .btn {
        margin: pixel-to-rem(36px) auto;
        color: $color_white;
    }

    &:last-child {
        margin-right: 0;
    }
}

.pricing_head {
    display: flex;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;

    font-size: pixel-to-rem(16px);

    margin-bottom: pixel-to-rem(21px);

    .pricing_head_title {
        flex-grow: 1;
    }

    .pricing_payment_history {
        position: relative;
        font-size: pixel-to-rem(13px);
        color: $color_grey;
        cursor: pointer;

        margin-right: pixel-to-rem(21px);

        &:before {
            content: url("../img/payment.svg");

            position: absolute;
            left: -21px;
            display: block;
            width: pixel-to-rem(16px);
            height: pixel-to-rem(16px);

            margin-right: pixel-to-rem(5px);
        }

        &:hover {
            opacity: 0.7;
        }
    }

    .btn {
        font-size: pixel-to-rem(13px);
        padding-left: pixel-to-rem(36px);
        padding-right: pixel-to-rem(36px);
        line-height: 34px; //34px - 13px
        color: $color_white;
        background-color: $green_box;
    }
}



/* START
Image in the Price plan box
*/

.pricing_plan_box--image {
    width: 100%;
    height: pixel-to-rem(125px);
    background-size: pixel-to-rem(46px) pixel-to-rem(68px);
    background-position: 50%;
    background-repeat: no-repeat;

    margin-bottom: pixel-to-rem(45px);
}

.pricing_plan_box--image-0 {
    background-image: url(https://d2bi6mljzi6nnj.cloudfront.net/images/billing/plan-5@2x.png);
}

.pricing_plan_box--image-1 {
    background-image: url(https://d2bi6mljzi6nnj.cloudfront.net/images/billing/plan-10@2x.png);
    background-size: pixel-to-rem(50px) pixel-to-rem(40px);
}

.pricing_plan_box--image-2 {
    background-image: url(https://d2bi6mljzi6nnj.cloudfront.net/images/billing/plan-20@2x.png);
    background-size: pixel-to-rem(56px) pixel-to-rem(100px);

}

.pricing_plan_box--image-3 {
    background-image: url(https://d2bi6mljzi6nnj.cloudfront.net/images/billing/plan-40@2x.png);
    background-size: pixel-to-rem(81px) pixel-to-rem(50px);
}

.pricing_plan_box--image-4 {
    background-image: url(https://d2bi6mljzi6nnj.cloudfront.net/images/billing/plan-100@2x.png);
    background-size: pixel-to-rem(120px) pixel-to-rem(55px);
}

/* END
Image in the Price plan box
*/

.pricing_plan_box--price {
    display: flex;
    flex-direction: column;
    text-align: center;

    .pricing_plan_box--price-cost {
        font-size: 1.2rem;
    }

    p {
        margin-bottom: pixel-to-rem(12px);
    }

}

.pricing_plan_box--feature {
    font-size: pixel-to-rem(13px);
    text-align: center;

    li {
        text-align: center;
    }
}

.pricing_plan_box--active {
    position: relative;

    &:before {
        content: "";

        position: absolute;
        display: block;
        width: pixel-to-rem(26px);
        height: pixel-to-rem(26px);
        top: -3%;
        right: -5%;
        background-image: url("../img/pricing_tick.svg");
        background-repeat: no-repeat;
        background-position: center;

        border-radius: 100%;
    }
}

.pricing_border--yellow {

    &.pricing_plan_box--active {
        border: 1px solid $yellow_box;

        &:before {
            background-color: $yellow_box;
        }
    }
    background-color: $yellow_box__bg;
}

.pricing_border--red {

    &.pricing_plan_box--active {
        border: 1px solid $red_box;

        &:before {
            background-color: $red_box;
        }
    }

    .btn {
        background-color: $red_box;
    }

    li {
        color: $red_box;
    }

    &:hover {
        background-color: $red_box__hover;
    }
}

.pricing_border--orange {
    &.pricing_plan_box--active {
        border: 1px solid $orange_box;

        &:before {
            background-color: $orange_box;
        }
    }

    .btn {
        background-color: $orange_box;
    }

    li {
        color: $orange_box;
    }

    &:hover {
        background-color: $orange_box__hover;
    }
}

.pricing_plan_box--feature-list {
    margin: pixel-to-rem(9px) 0;

    li:last-child {
        margin-top: pixel-to-rem(3px);
    }
}

.pricing_border--blue {
    &.pricing_plan_box--active {
        border: 1px solid $blue_box;

        &:before {
            background-color: $blue_box;
        }
    }

    .btn {
        background-color: $blue_box;
    }

    li {
        color: $blue_box;
    }

    &:hover {
        background-color: $blue_box__hover;
    }
}

.pricing_border--green {
    &.pricing_plan_box--active {
        border: 1px solid $green_box;

        &:before {
            background-color: $green_box;
        }
    }

    .btn {
        background-color: $green_box;
    }

    li {
        color: $green_box;
    }

    &:hover {
        background-color: $green_box__hover;
    }
}


.pricing_footer {
    margin-top: pixel-to-rem(24px);
    padding: 0rem 4rem;
    color: $color_grey;

    display: flex;
    justify-content: space-between;

    .pricing_footer--contact {
        color: $color_grey;
        text-align: right;
    }

    .pricing_footer--contact-link {
        color: $blue_box;
        text-decoration: underline;
    }
}

.pricing_color--black {
    color: $color_black;
}
