@import "default";
@import "button";
@import "colors";
@import "badge";

.active_plan {
    background: $plan_active_btn;
}

.pricing_plan_box--image {
    width: 100%;
    height: pixel-to-rem(125px);
    background-size: pixel-to-rem(46px) pixel-to-rem(68px);
    background-position: 50%;
    background-repeat: no-repeat;

    margin-bottom: pixel-to-rem(45px);
}

.pricing_plan_box--image-0 {
    background-image: url(https://d2bi6mljzi6nnj.cloudfront.net/images/billing/plan-5@2x.png);
}

.pricing_plan_box--image-1 {
    background-image: url(https://d2bi6mljzi6nnj.cloudfront.net/images/billing/plan-10@2x.png);
    background-size: pixel-to-rem(50px) pixel-to-rem(40px);
}

.pricing_plan_box--image-2 {
    background-image: url(https://d2bi6mljzi6nnj.cloudfront.net/images/billing/plan-20@2x.png);
    background-size: pixel-to-rem(56px) pixel-to-rem(100px);

}

.pricing_plan_box--image-3 {
    background-image: url(https://d2bi6mljzi6nnj.cloudfront.net/images/billing/plan-40@2x.png);
    background-size: pixel-to-rem(81px) pixel-to-rem(50px);
}

.pricing_plan_box--image-4 {
    background-image: url(https://d2bi6mljzi6nnj.cloudfront.net/images/billing/plan-100@2x.png);
    background-size: pixel-to-rem(120px) pixel-to-rem(55px);
}

.pricing_wrapper {
    padding: 1rem 3rem;
    .price_yearly, .pricing_plan_box--billed {
        display: none;
    }

    .pricing_plan_boxes {
        padding: 1rem 4rem;
    }
}

.pricing_yearly_plan {
    .price_monthly {
        display: none;
    }

    .price_yearly {
        display: inline;
    }

    .pricing_plan_box--billed {
        display: block;
    }
}

.pricing_plan_boxes {
    display: flex;
    justify-content: space-between;

    margin-top: pixel-to-rem(21px);
}

.pricing_plan_box--price {
    display: flex;
    flex-direction: column;
    text-align: center;

    .pricing_plan_box--price-cost {
        font-size: 1.2rem;
    }

    p{
        margin-bottom: pixel-to-rem(12px);
    }

}

.pricing_plan_box {
    color: $color_grey;
    padding: 1.5rem;
    border: 1px solid $color_light_grey;
    border-radius: 0.1rem;

    flex: 1 0 15%;
    margin-right: 2%;

    &:last-child {
        margin-right: 0;
    }
}

.pricing_head{
    display: flex;
    align-items: center;
    margin-left: 4rem;

    font-size: pixel-to-rem(16px);

    margin-bottom: pixel-to-rem(21px);

    .pricing_head_title{
        flex-grow: 1;
    }

    .pricing_payment_history{
        position: relative;
        font-size: pixel-to-rem(13px);
        color: $color_grey;
        cursor: pointer;

        margin-right: pixel-to-rem(21px);

        &:before{
            content: url("../img/payment.svg");

            position: absolute;
            left: -21px;
            display: block;
            width: pixel-to-rem(16px);
            height: pixel-to-rem(16px);

            margin-right: pixel-to-rem(5px);
        }

        &:hover{
            opacity: 0.7;
        }
    }

    button{
        font-family: 'Nunito Sans', sans-serif;
        font-size: pixel-to-rem(13px);
        padding-left: pixel-to-rem(36px);
        padding-right: pixel-to-rem(36px);
        height: pixel-to-rem(34px);
        line-height: 34px; //34px - 13px
        color: $color_white;
        background-color: $green_box;
    }
}

.pricing_plans_btns {
    display: inline-flex;
    margin-left: 4rem;

    .pricing_plan--btn {
        margin: 0;
        font-size: pixel-to-rem(13px);
        border-width: pixel-to-rem(1px) 0 pixel-to-rem(1px) pixel-to-rem(1px);
        border-color: $btn_blue;
        border-style: solid;
        color: $btn_blue;
        background: $color_white;

        &:last-child {
            border-width: pixel-to-rem(1px) pixel-to-rem(1px) pixel-to-rem(1px) 0;
        }

        &.active_plan {
            color: #ffffff;
            background-color: $btn_blue;
        }

        &:hover {
            opacity: 1;
        }
    }
}

.pricing_plan_box--feature {
    font-size: pixel-to-rem(13px);
    text-align: center;

    li {
        text-align: center;
    }
}

.pricing_plan_box_active {
    position: relative;

    &:before {
        content: "";

        position: absolute;
        display: block;
        width: pixel-to-rem(26px);
        height: pixel-to-rem(26px);
        top: -3%;
        right: -5%;
        background-image: url("../img/pricing_tick.svg");
        background-repeat: no-repeat;
        background-position: center;

        border-radius: 100%;
    }
}

.pricing_border_yellow {

    &.pricing_plan_box_active {
        border: 1px solid $yellow_box;

        &:before {
            background-color: $yellow_box;
        }
    }
    background-color: $yellow_box__bg;
}

.pricing_border_red {
    &.pricing_plan_box_active {
        border: 1px solid $red_box;

        &:before {
            background-color: $red_box;
        }
    }

    button {
        color: $color_white;
        background-color: $red_box;
    }

    li {
        color: $red_box;
    }

    &:hover {
        background-color: $red_box__hover;
    }
}

.pricing_border_orange {
    &.pricing_plan_box_active {
        border: 1px solid $orange_box;

        &:before {
            background-color: $orange_box;
        }
    }

    button {
        color: $color_white;
        background-color: $orange_box;
    }

    li {
        color: $orange_box;
    }

    &:hover {
        background-color: $orange_box__hover;
    }
}

.pricing_plan_box--feature-list{
    margin: pixel-to-rem(9px) 0;

    li:last-child{
        margin-top: pixel-to-rem(3px);
    }
}

.pricing_border_blue {
    &.pricing_plan_box_active {
        border: 1px solid $blue_box;

        &:before {
            background-color: $blue_box;
        }
    }

    button {
        color: $color_white;
        background-color: $blue_box;
    }

    li {
        color: $blue_box;
    }

    &:hover {
        background-color: $blue_box__hover;
    }
}

.pricing_border_green {
    &.pricing_plan_box_active {
        border: 1px solid $green_box;

        &:before {
            background-color: $green_box;
        }
    }

    button {
        color: $color_white;
        background-color: $green_box;
    }

    li {
        color: $green_box;
    }

    &:hover {
        background-color: $green_box__hover;
    }
}

.pricing_color_black {
    color: $color_black;
}

.pricing_notes{
    margin-left: 4rem;
    margin-top: pixel-to-rem(24px);
    color: $color_grey;
}
